* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1034px;
  }
}

.sologan {
  text-align: center;
  background-color: #2b130a;
  color: white;
}

.topnav {
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.my-logo {
  display: block;
  position: absolute;
  background-color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 70px;
  width: 56px;
}

.my-logo img {
  width: 60px;
  -webkit-filter: invert(10%) sepia(29%) saturate(1683%) hue-rotate(321deg) brightness(102%) contrast(112%);
          filter: invert(10%) sepia(29%) saturate(1683%) hue-rotate(321deg) brightness(102%) contrast(112%);
}

.my-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  margin-left: 40px;
}

.my-menu .menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-menu .menu__item i {
  margin-left: 5px;
  font-size: 70%;
}

.my-menu .menu__item .item__link {
  text-decoration: none;
  padding: 10px 15px;
  color: #666;
  display: block;
}

.my-menu .megamenu {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 10px 15px;
  width: 240px;
  background-color: white;
}

.my-menu .menu__item:hover > .megamenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-menu .megamenu-1 {
  width: 240px;
}

.my-menu .megamenu-2 {
  width: 480px;
}

.my-menu .megamenu-3 {
  width: 720px;
}

.my-menu .megamenu-4 {
  width: 960px;
}

.my-menu .submenu {
  list-style: none;
  width: 250px;
}

.my-menu .submenu .submenu__header {
  text-decoration: none;
  font-weight: 700;
  color: #666;
  font-size: 13px;
  text-transform: uppercase;
}

.my-func {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-func li {
  font-size: 15px;
}

.my-func li i {
  color: black;
}

.my-func li + li {
  margin-left: 20px;
}

.toggle {
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #c34704;
  border-radius: 5px;
  color: #c34704;
}

@media (max-width: 991px) {
  .my-logo {
    -webkit-transform: none;
            transform: none;
    margin-left: -15px;
  }
  .my-nav {
    padding: 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 80vh;
    margin: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .my-menu .menu__item {
    font-size: 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .my-menu .item__link {
    font-weight: bold;
  }
  .my-menu .megamenu {
    padding-left: 30px;
    background-color: transparent;
    margin: 0;
    position: relative;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  .my-menu .submenu {
    width: 100%;
  }
  .my-menu .submenu .submenu__header {
    font-size: 18px;
  }
  .my-menu .submenu li {
    padding-left: 30px;
    font-size: 15px;
  }
  .my-menu.expand {
    display: block;
  }
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

.product-grid .product__item {
  text-decoration: none;
}

.product-grid .product__item .product__img img {
  width: 100%;
  height: auto;
}

.product-grid .product__item .product__button {
  display: block;
  padding: 15px;
  background-color: #c34704;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: 3px solid #c34704;
  border-radius: 0;
}

.product-grid .product__item:hover > .product__button {
  background-color: white;
  color: #c34704;
}

.footer__main {
  padding: 50px 0;
  background: url("../../assets/images/footer.png");
  color: white;
}

.footer__main .footer__btn {
  background-color: #c34704;
  color: white;
  border: 1px solid #99640b;
  border-radius: 0;
  padding: 10px 0 12px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase;
  width: 300px;
}

.footer__main .footer__btn:hover {
  background-color: #402818;
}

.footer__contact {
  padding: 50px 0;
}

.footer__contact h5 {
  color: #726a62;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__contact a {
  display: block;
  color: #000;
}

.footer__contact .footer__social {
  border-left: 3px solid #a49990;
}

.footer__contact .footer__social ul {
  list-style: none;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__contact .footer__social ul li img {
  width: 24px;
  height: 24px;
}

.footer__links {
  color: #726a62;
}

.footer__links h5 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__links ul {
  list-style: none;
}

@media (max-width: 991px) {
  .footer__social {
    border: 0;
  }
}

.promo {
  padding: 40px 0;
}

.promo .promo__name {
  font-weight: 700;
  text-transform: uppercase;
}

.promo .promo__content {
  text-align: justify;
}

.promo .promo__img {
  margin-bottom: 40px;
}

.promo .promo__img img {
  width: 100%;
  height: auto;
}

.promo .promo__btn {
  background-color: #c34704;
  color: white;
  border: 1px solid #99640b;
  border-radius: 0;
  padding: 10px 0 12px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase;
  width: 400px;
}

.promo .promo__btn:hover {
  background-color: #402818;
}

.promo.promo-dark {
  background-color: #301603;
  color: white;
}

.promo.promo-dark .promo__name {
  color: #E9e2c3;
}

@media (max-width: 500px) {
  .promo__btn {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */