@import '../abstract/variables';

@media (min-width: 1200px) {
  .container {
    max-width: 1034px;
  }
}
.sologan {
  text-align: center;
  background-color: $color-1;
  color: white;
}
.topnav {
  background-color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.my-logo {
  display: block;
  position: absolute;
  background-color: white;
  transform: translateX(-50%);
  height: 70px;
  width: 56px;
  img {
    width: 60px;
    filter: invert(10%)
            sepia(29%)
            saturate(1683%)
            hue-rotate(321deg)
            brightness(102%)
            contrast(112%);
  }
}
.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-left: 40px;

  .menu__item {
    position: relative;
    display: flex;
    align-items: center;

    i {
      margin-left: 5px;
      font-size: 70%;
    }

    .item__link {
      text-decoration: none;
      padding: 10px 15px;
      color: $color-5;
      display: block;
    }
  }
  .megamenu {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 10px 15px;
    width: 240px;
    background-color: white;
  }
  .menu__item:hover {
    & > .megamenu {
      display: flex;
    }
  }
  .megamenu-1 {
    width: 240px;
  }
  .megamenu-2 {
    width: 480px;
  }
  .megamenu-3 {
    width: 720px;
  }
  .megamenu-4 {
    width: 960px;
  }
  .submenu {
    list-style: none;
    width: 250px;

    .submenu__header {
      text-decoration: none;
      font-weight: 700;
      color: $color-5;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}
.my-func {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
  li {
    font-size: 15px;
    i {
      color: black;
    }
  }
  li + li {
    margin-left: 20px;
  }
}
.toggle {
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid $color-4;
  border-radius: 5px;
  color: $color-4;
}

@media (max-width: 991px) {
  .my-logo {
    transform: none;
    margin-left: -15px;
  }
  .my-nav {
    padding: 10px 0;
    justify-content: center;
  }
  .my-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 80vh;
    margin: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);

    .menu__item {
      font-size: 22px;
      flex-direction: column;
      align-items: flex-start;
    }
    .item__link {
      font-weight: bold;
    }
    
    .megamenu {
      padding-left: 30px;
      background-color: transparent;
      margin: 0;
      position: relative;
      width: 100%;
      flex-direction: column;
      transform: translateY(-50px);
    }
    .submenu {
      width: 100%;
      .submenu__header {
        font-size: 18px;
      }
      li {
        padding-left: 30px;
        font-size: 15px;
      }
    }
  }
  .my-menu.expand {
    display: block;
  }
}